<h1>Find a Recipe</h1>

<input 
  type="text" 
  [(ngModel)]="searchTerm" 
  (input)="searchRecipes()" 
  placeholder="Search for a recipe..." />

  <div class="recipe-list">
    <a
      *ngFor="let recipe of foundRecipes"
      [routerLink]="['/recipe', recipe.title]"
      style="text-decoration: none;">
      
      <app-recipe-card
        [title]="recipe.title"
        [description]="recipe.description"
        [image]="recipe.image">
      </app-recipe-card>
    </a>
  </div>
  

<p *ngIf="foundRecipes.length === 0">No recipes found</p>
